[test]
AVLBST.ConstructionDestruction     = 1
AVLInsert.OneNode                  = 2
AVLInsert.DoubleInsertLeft         = 2
AVLInsert.DoubleInsertRight        = 2
AVLInsert.InsertZigZigLeft         = .5
AVLInsert.InsertZigZigRight        = .5
AVLInsert.InsertZigZagLeft         = .5
AVLInsert.InsertZigZagRight        = .5
AVLInsert.7Elements                = 1
AVLClear.Clear                     = 1
AVLInsert.Duplicates               = 1
AVLInsert.Random50x30ele           = 3
AVLInsert.Random3x5000ele          = 3
AVLRemove.EmptyTree                = 1
AVLRemove.NodeMismatch             = 2
AVLRemove.SingleRemove             = 2
AVLRemove.RightChildRemove         = 2
AVLRemove.LeftChildRemove          = 2
AVLRemove.TwoChildrenRemove_3Node  = 2
AVLRemove.TwoChildrenRemove_4Node  = 2
AVLRemove.Random50x30ele           = 2
AVLStress.InsertRemove             = 1
AVLStress.Remove                   = 2
AVLRuntime.InsertAscending         = 2
AVLRuntime.InsertDescending        = 2
AVLRuntime.InsertRandom            = 1
AVLRuntime.RemoveMin               = 2
AVLRuntime.RemoveMax               = 2
