[test]
BST.ConstructionDestruction           = 1
BSTInsert.JustRoot                    = 1
BSTInsert.DoubleInsertLeft            = 1
BSTInsert.DoubleInsertRight           = 1
BSTInsert.InsertZigZigLeft            = 1
BSTInsert.InsertZigZigRight           = 1
BSTInsert.InsertZigZagLeft            = 1
BSTInsert.InsertZigZagRight           = 1
BSTInsert.7Elements                   = 1
BSTClear.Clear                        = 1
BSTFind.InvalidFind                   = .5
BSTInsert.Duplicates                  = .5
BSTInsert.BasicRandom                 = 1
BSTInsert.Random50x30ele              = 1
BSTInsert.Random3x5000ele             = 1
BSTRemove.EmptyTree                   = 1
BSTRemove.NodeMismatch                = 1
BSTRemove.SingleRemove                = 1
BSTRemove.RightChildRemove            = 1
BSTRemove.LeftChildRemove             = 1
BSTRemove.TwoChildrenRemove_3Node     = 1
BSTRemove.TwoChildrenRemove_4Node     = 1
BSTRemove.Random50x30ele              = 1
BSTStress.InsertRemove                = 1
BSTStress.Remove                      = 1
BSTBalance.EmptyTree                  = .5
BSTBalance.OneNode                    = .5
BSTBalance.3Nodes_Unbalanced          = .5
BSTBalance.3Nodes_Balanced            = .5
BSTBalance.UnbalancedSubtree          = .5
BSTBalance.Random50x30ele             = .5
BSTRuntime.InsertBalanced             = .5
BSTRuntime.RemoveBalancedRoot         = .5
BSTRuntime.RemoveBalancedMin          = .5
BSTRuntime.GetSmallestNodeBalanced    = .5
BSTRuntime.FindNodeBalanced           = .5
BSTRuntime.IteratorBalanced           = .5

