[test]
Floorplan.Example1                             =  1
Floorplan.Example3                             =  1
Floorplan.OneByOne                             =  1
Floorplan.TwoByOne_SinglePiece_NoRotation      =  1
Floorplan.OneByTwo_SinglePiece_NoRotation      =  1
Floorplan.TwoByOne_SinglePiece_Rotation        =  1
Floorplan.OneByTwo_SinglePiece_Rotation        =  1
Floorplan.ThreeByTwo_ThreePieces_NoRotation    =  1
Floorplan.ThreeByTwo_TwoPieces_Rotation        =  1
Floorplan.TwoByTwo_TwoPieces_ExtraSpace        =  1
Floorplan.TenByTen                             =  1
Floorplan.20by20_Random                        =  2
Floorplan.50by100_Random                       =  1
Floorplan.500by2000_Random                     =  1
FloorplanNoSolution.Example2                   =  1
FloorplanNoSolution.TwoByOne                   =  1
FloorplanNoSolution.TenByTen_Oversized         =  1
FloorplanNoSolution.50by100_Random             =  1
FloorplanNoSolution.TwoByTwo_ImpossibleStack   =  1
