[warning]
warning_limit            =  6
warning_br_no_ret        =  3
warning_rt_op_neff       =  3
warning_assign_truth     =  2
warning_uninit_value     =  2
warning_comp_sign        =  1
warning_unused_var       =  1

[valgrind]
# valgrind deduction is (flat + failed * per_test)
valgrind_limit           =  -1
valgrind_flat            =  4
valgrind_per_test        =  0